<div class='navbar-item has-dropdown is-hoverable'>
            <div class='navbar-link'>
              <img class='bulat' src='http://static.setipe.com/images/Body_TipsFotoProfil03.jpg' />
            </div> 
            <div class='navbar-dropdown  is-right is-boxed'>
              <a class='navbar-item' href='job_deskripsi.php'>
                Profile
              </a>
              <a class='navbar-item' href='#'>
                Message
              </a>
              <a class='navbar-item' href='#'>
                Bantuan
              </a>
              <hr class='navbar-divider'>
              <a class='navbar-item' href='#'>
                Peraturan
              </a>
              <a class='navbar-item is-active' href='#'>
                Logout
              </a>
            </div>
          </div>